    <body>
            <h2> 
           <%=@todo.description%>
           <h3>Todo #<%= params[:id] %></h3>
        </h2>
        <span> <%= @todo.pomodoro_estimate %></span>
            
            <a href="/todo/edit/<%=@todo.id%>"> 
            Edit 
            </a> 
            
            <a href="/todo/destroy/<%=@todo.id%>" id="deletbutton">
              Delet  
            </a> 
            
            <a href="/" id="gobackbutton">
                Go back
            </a>
        </body